<div>
    <h1>Please review the <a href="https://www.oswegohomeschool.com/NY/oha/OHA%20drop-off%20Code%20of%20Conduct.pdf" target="_blank"><strong>Oswego Homeschool Association's Drop-of Programming Code of Conduct</strong></a> and the <a href="https://www.oswegohomeschool.com/NY/oha/OHA%20membership%20agreement%202022-2.pdf" target="_blank"><strong>Oswego Homeschool Membership Agreement</strong></a> before continuing.</h1>
    <br>
    
    <input type="checkbox" id="bylaws" name="bylaws" value="agree" required>
    <label for="bylaws">I have read, understand, and agree to Oswego Homeschool Associations (OHA) ByLaws. I have also read, understand and agree to the general information and policies layed out below. I agree to be responsible for the behavior and safety of the children in my charge while attending OHA programming. I understand that OHA Board of Directors reserve the right to deny or revoke membership to any child or family who does not abide by the items within this membership agreement and code of conduct.</label><br>
    <br>
    
    <input type="checkbox" id="bylaws" name="bylaws" value="agree" required>
    <label for="bylaws">I agree that by signing these agreements and submitting my non-refundable OHA Membership Fee, I will establish annual family membership in the Oswego Homeschool Association.</label>
    <br>
</div>