---
import { getCollection } from 'astro:content';

const events = await getCollection('events', ({ data }) => {
    return data.draft !==true;
})
---
<div class="md:flex my-2 mx-2 pb-4 md:mx-4 bg-gray-200 dark:bg-gray-700">
    <div class=" md:my-4 md:w-1/2 shadow max-h-64 overflow-scroll mx-2 md:mx-4 py-4">
        <div class="">
            <h1 
                set:html="Upcoming Events" 
                class="text-2xl text-dgPrimary pt-4 dark:text-gray-200 md:mb-4 text-center"
            />
            { 
                events.map(( event ) => (
                <div class="flex items-center m-2">
                    <div class="rounded-full flex justify-center items-center bg-dgSecondary dark:bg-dgPrimaryDM w-16 h-16 md:w-24 md:h-24">
                        <p class="text-center text-white dark:text-gray-200" set:html={ event.data.date } />
                    </div>

                    <div class="ml-4">
                        <p class="font-bold dark:text-dgSecondaryDM" set:html={ event?.data.title } />
                        <p class="italic dark:text-gray-200" set:html={ event.data.location } />
                    </div>
                </div>    
                
                ))
            }
        </div>
    </div>

    <div class="md:my-4 md:w-1/2 border rounded md:shadow p-2 max-h-64 mx-2 md:mx-4">
        <div>
            <label for="start" class="text-2xl text-dgSecondary dark:text-gray-200">Find Events by Date: </label>
            <input 
                type="date" 
                id="start" 
                name="start"
                value="2023-06-08"
                min="2023-01-01" max="2024-12-31"
                class="text-xl bg-gray-200 dark:bg-gray-700 p-1 dark:text-dgTextPrimary"
            >
        </div>

        <div>
            <p 
                set:html="No events found"
                class="italic py-4 dark:text-gray-200"
            />
        </div>
    </div>
</div>

<script>    
    const input = document.getElementById("start") as HTMLInputElement | null;
    let selectedDate;

    if(input != null) {
        selectedDate = input.value;
    }

    input?.addEventListener("input", updateDate);

    let testDates = {
        "2023-06-08": {
            name: "Test Event",
            time: "3:00-5:00 PM",
            location: "McDonald's",
            contact: "OHA"
        },
        "2023-06-09": {
            name: "Second test",
            time: "8:00-10:00 AM",
            location: "Home",
            contact: "Me"
        }
    }

    let dateArr = Object.keys(testDates);

    function updateDate() {
        let text = document.getElementById("start")?.value.toString();
        console.log("Date selected: ", text);

        if(dateArr.includes(text)) {
            console.log("the value is in the array: ", dateArr[text])
        }

        console.log(dateArr)
    }



    console.log("dateArr: ", dateArr)
    console.log("selectedDate: ", selectedDate);
    console.log("type of selectedDate:", typeof(selectedDate))

    if(dateArr.includes(selectedDate)) {
        console.log("There is an event this day")
    } else {
        console.log("nothing found")
    }

</script>