---
import { getCollection } from 'astro:content';
import { createSignal } from 'solid-js';

const features = await getCollection('features', ({ data }) => {
    return data.draft !== true;
})

// let testBtnNum = 0;

let { testBtnNum = 0 } = Astro.props;
---

<div data-message={ testBtnNum } class="bg-red-300 md:flex md:mt-12">
    <div class="md:w-2/3">
        <h1 set:html={ features[testBtnNum].data.title }/>
        <p set:html={ features[testBtnNum].data.description } />
        <button id=0 class="rounded bg-blue-300 p-4 m-2">1</button>        
        <button id=1 class="rounded bg-blue-300 p-4 m-2">2</button>
        <button id=2 class="rounded bg-blue-300 p-4 m-2">3</button>
    </div>

    <div class="md:w-1/3">
        testBtnNum: { testBtnNum }
    </div>
</div>

<script>
    import { createSignal } from 'solid-js';

    const [btnNum, setBtnNum] = createSignal("0");
    const buttons = document.querySelectorAll('button');

    let currBtnId;


    // alert(testBtnNum);

    buttons.forEach((button) => {
        button.addEventListener('click', () => {
            setBtnNum(button.id);
            currBtnId = Number(btnNum());
            console.log("currBtnId: ", currBtnId)
            // alert(testBtnNum)
            console.log("this: ")

        });
    });
</script>