---
import { getCollection } from 'astro:content';

const features = await getCollection('features', ({ data }) => {
    return data.draft !== true;
})

// let testBtnNum = 0;

let testImg = features[0].data.image;

let { testBtnNum = 0 } = Astro.props;

let currBtnIdFront = testBtnNum;
---

<div data-message={ testBtnNum } class="md:bg-feature-img dark:bg-gray-800 bg-cover shadow h-64 md:mt-12 mb-4 mx-2 md:mx-4 md:p-4 grid grid-rows-6">
    <!-- <img 
        src="../../../../public/images/3dprinter.jpg" 
        alt="Children looking at a 3D printer"
        class="absolute opacity-20"
    /> -->
    
    <div class="md:w-2/3 flex flex-col pb-10 row-start-2 md:row-start-3">
        <div id="feature0" class="inline md:bg-gray-100 opacity-95 dark:md:bg-gray-700 rounded py-4 px-1">
            <h1 class="text-xl pb-2 dark:text-dgPrimaryDM" set:html={ features[0].data.title }/>
            <p class="italic text-sm dark:text-gray-300" set:html={ features[0].data.description } />
        </div>

        <div id="feature1" class="hidden md:bg-gray-100 opacity-95 dark:md:bg-gray-700 rounded py-4 px-1">
            <h1 class="text-xl pb-2 dark:text-dgPrimaryDM" set:html={ features[1].data.title }/>
            <p class="italic text-sm dark:text-gray-300" set:html={ features[1].data.description } />
        </div>

        <div id="feature2" class="hidden md:bg-gray-100 opacity-95 dark:md:bg-gray-700 rounded py-4 px-1">
            <h1 class="text-xl pb-2 dark:text-dgPrimaryDM" set:html={ features[2].data.title }/>
            <p class="italic text-sm dark:text-gray-300" set:html={ features[2].data.description } />
        </div>
    </div>

    <div class="flex row-start-6">
        <button 
            id=0 
            class="featureBtn rounded-full bg-dgPrimary dark:bg-dgPrimaryDM w-10 h-10 px-4 mr-2"
        >
            <p class="text-white dark:text-gray-200">1</p>
        </button>        
        
        <button 
            id=1 
            class="featureBtn rounded-full bg-dgPrimary dark:bg-dgPrimaryDM w-10 h-10 px-4 mr-2"
        >
            <p class="text-white dark:text-gray-20">2</p>
        </button>
        
        <button 
            id=2 
            class="rounded-full bg-dgPrimary dark:bg-dgPrimaryDM w-10 h-10 px-4 mr-2"
        >
            <p class="text-white dark:text-gray-200">3</p>
        </button>
    </div>

    <!-- <div>
        <button class="btnLeft">Left</button>
        <button class="btnRight">Right</button>
    </div> -->

</div>

<script>
    import { createSignal } from 'solid-js';

    const [btnNum, setBtnNum] = createSignal("0");
    const buttons = document.querySelectorAll('button');

    console.log("Buttons: ", buttons)

    let currBtnId;

    const btn0 = document.getElementById("0");
    const btn1 = document.getElementById("1");
    const btn2 = document.getElementById("2");
    const ftr0 = document.getElementById("feature0");
    const ftr1 = document.getElementById("feature1");
    const ftr2 = document.getElementById("feature2");

    const btnLeft = document.querySelector("btnLeft");
    const btnRight = document.querySelector("btnRight");
    // alert(testBtnNum);

    buttons.forEach((button) => {
        button.addEventListener('click', () => {
            setBtnNum(button.id);
            currBtnId = Number(btnNum());
            console.log("currBtnId: ", currBtnId)
            // alert(btnNum())

            if(currBtnId == 0) {
                ftr0?.classList.add('inline');
                ftr0?.classList.remove("hidden");
                ftr1?.classList.remove("inline");
                ftr1?.classList.add("hidden");
                ftr2?.classList.remove("inline");
                ftr2?.classList.add("hidden");
            } else if(currBtnId == 1) {
                ftr1?.classList.remove('hidden');
                ftr1?.classList.add("inline");
                ftr0?.classList.remove("inline");
                ftr0?.classList.add("hidden");
                ftr2?.classList.remove("inline");
                ftr2?.classList.add("hidden");
            } else {
                ftr2?.classList.add("inline");
                ftr2?.classList.remove("hidden");
                ftr1?.classList.remove("inline");
                ftr1?.classList.add("hidden");
                ftr0?.classList.remove("inline");
                ftr0?.classList.add("hidden");
            }
        });
    });

</script>