---
import { getCollection } from 'astro:content';

const highlights = await getCollection('highlights', ({ data }) => {
    return data.draft !== true;
})
---

<div class="px-2 md:px-4">
    <div class="flex flex-wrap justify-center">
       {
        highlights.map((highlight) => (
            <div class="md:highlight-div flex flex-col w-full items-center bg-dgPrimary dark:bg-gray-700 md:w-1/3 py-2 md:py-6">
                <div class="py-4">
                    <img 
                        src={ highlight.data.icon } 
                        alt={ highlight.data.alt }
                        class="h-24 bg-white rounded-full"
                    />
                </div>

                <div class="">
                    <h1 set:html={ highlight.data.title } class="text-center text-dgTextPrimary dark:text-dgSecondaryDM text-lg"/>
                    <p set:html={ highlight.data.description } class="text-center text-white dark:text-gray-200 text-sm p-2"/>
                </div>

            </div>

            // <div>
            //     <svg 
            //         width="1px"
            //         height="6px" 
            //         viewBox="0 0 400 600"
            //         xmlns="http://www.w3.org/2000/svg" 
            //         version="1.1"
            //     >
            //     <path d="M275,200 v-150" fill="yellow" stroke="blue" stroke-width="3" />
            //     </svg> 
            // </div>
        ))
       }
    </div>
</div>

<script define:vars={{ highlights}}>
    console.log(highlights)
</script>