<div>
    <form>
        <label for="state">OHA membership is open to all homeschool families that live in New York State. Do you live in New York State?</label>    
        <div>
            <input type="radio" id="yes" name="state" value="yes" checked>
            <label for="yes">Yes</label>
        </div>

        <div>
            <input type="radio" id="no" name="state" value="no">
            <label for="no">No</label>
        </div><br>

        <label for="member">Please indicate whether you are a returning or new OHA member:</label>    
            <div>
                <input type="radio" id="yes" name="member" value="new" checked>
                <label for="new">New Member</label>
            </div>
    
            <div>
                <input type="radio" id="no" name="member" value="return">
                <label for="return">Returning Member</label>
            </div><br>

        <label for="chapter">Are you already a member of another Homeschool NY/Loving Education at Home Inc. chapter?</label>    
        <div>
            <input type="radio" id="yes" name="chapter" value="yes" checked>
            <label for="yes">Yes</label>
        </div>

        <div>
            <input type="radio" id="no" name="chapter" value="no">
            <label for="no">No</label>
        </div><br>

        <label for="registered">If answer to above is yes, please provide the name of the other chapter where you are registered.</label><br>    
        <input type="text" id="registered" name="registered" class="form-input"><br>

    </form>
</div>