---
import AdultInfo from '../widgets/AdultInfo.astro';
import ChildInfo from '../widgets/ChildInfo.astro';
---

<div>
    <form>
        <fieldset>
            <legend>Adult Information</legend>
            <AdultInfo />
        </fieldset>

        <fieldset>
            <legend>Student Information</legend>
            <ChildInfo />
        </fieldset>

        <fieldset>
            <legend>Notifcation Preferences</legend>
        </fieldset>

        <fieldset>
            <legend>General Membership Information</legend>
        </fieldset>

        <fieldset>
            <legend>Membership Agreement</legend>
        </fieldset>

        <input type="submit" value="Submit">
    </form>
</div>