<div>
    <form>
        <label for="privacy"><p><strong>Privacy:</strong> I would like my family information to be included in the online membership directory.</p></label>    
        <div>
            <input type="radio" id="yes" name="privacy" value="yes" checked>
            <label for="yes">Yes</label>
        </div>

        <div>
            <input type="radio" id="no" name="privacy" value="no">
            <label for="no">No</label>
        </div><br>

        <label for="email"><p><strong>Weekly Email Update:</strong> I would like to receive a weekly email update.</p></label>    
        <div>
            <input type="radio" id="yes" name="email" value="yes" checked>
            <label for="yes">Yes</label>
        </div>

        <div>
            <input type="radio" id="no" name="email" value="no">
            <label for="no">No</label>
        </div><br>

        <label for="forum"><p><strong>Forum Emails:</strong> I would like to receive forum notifications via email.</p></label>    
        <div>
            <input type="radio" id="immediately" name="forum" value="immediately" checked>
            <label for="immediately">Yes, immediately</label>
        </div>

        <div>
            <input type="radio" id="daily" name="forum" value="daily">
            <label for="daily">Yes, once a day</label>
        </div>

        <div>
            <input type="radio" id="no" name="forum" value="no">
            <label for="no">No</label>
        </div><br>

        <label for="classifieds"><p><strong>Classifieds Emails:</strong> I would like to receive classifieds notifications via email.</p></label>    
        <div>
            <input type="radio" id="immediately" name="classifieds" value="immediately" checked>
            <label for="immediately">Yes, immediately</label>
        </div>

        <div>
            <input type="radio" id="daily" name="classifieds" value="daily">
            <label for="daily">Yes, once a day</label>
        </div>

        <div>
            <input type="radio" id="no" name="classifieds" value="no">
            <label for="no">No</label>
        </div><br>
    </form>

</div>