---
import Layout from '../layouts/Layout.astro';
---
<Layout title="404">

    <div class="mt-12 p-12 flex flex-col items-center justify-center">
        <h1 class="text-2xl">Oops, there's nothing here!</h1>
        <a href="/">
        <p class="italic py-8">Let's get you back home...</p>
        </a>
    </div>
</Layout>
